
TestCommonLib/.vs/TestCommonLib/v15/.suo
*.pdb
*.db
*.opendb
*.ipch
*.db-shm
*.db-wal
TestCommonLib/Debug/CommonLib.dll
TestCommonLib/Debug/CommonLib.exp
TestCommonLib/Debug/CommonLib.ilk
TestCommonLib/Debug/CommonLib.lib
TestCommonLib/Debug/zdll.lib
TestCommonLib/Debug/zlib1.dll
TestCommonLib/TestCommonLibSrc/Debug/log_extract.obj
*.tlog
*.obj
*.log
*.idb
